body{
    margin: 0px;
    height: 100vh;
    background-image: url('../img/moocow.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cabecalho{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5vw;
}
.conversor{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.select_moeada{
    width: 10vw;
    height: 6vh;
    border-radius: 4px;
    margin: 0px 10px;
}
.input_valor{
    height: 5vh;
    width: 10vw;
    border-radius: 4px;
    margin: 10px;
}
.botao_conversor{
    margin: 10px;
}
