body{
    margin: 0px;
    height: 100vh;
    background-image: url('../img/moocow.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cabecalho{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5vw;
}
.conversor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40vh;
}

.select_moeada{
    width: 10vw;
    height: 6vh;
    border-radius: 4px;
    margin: 0px 10px;
    background-color:gray;
}
.input_valor{
    height: 5vh;
    width: 10vw;
    border-radius: 4px;
    margin: 10px;
}
.botao_conversor{
    margin: 10px;
    height: 6vh;
    width: 11vw;
    background-color: gray;
    border-radius: 5px;
    border: none;
    border: 2px solid wheat;
}
.div_resultado{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}
.paragrafo_resultado{
    background-color: gray;
    width: 10vw;
    height: 5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid;
    margin: 5px;
}
.paragrafo_texto_resultado{
    margin: 0;
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
}
.div_resultado_interna{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}